.product {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn-quantity {
  width: 30px;
}

.btn-add-to-cart {
  width: calc(80% - 100px); /* Adjust width as needed */
}
