 <!-- HOME PAGE: Jumbotron --> 
 <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Animal Shelter Website</h1>
    <p class="lead">Help Us Save The Strays!</p>
  </div>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="main-content">
          <h2>What We Do</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum tortor nec sem congue, et cursus arcu fermentum. Vivamus fringilla urna velit, ac placerat ipsum ullamcorper non. Fusce condimentum leo vitae lacus vehicula aliquam. Proin non nisi sit amet orci consequat aliquam nec non nunc. Morbi quis urna consequat, viverra odio in, convallis nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ac interdum arcu.</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2022/08/06/08/42/kittens-7368215_1280.jpg" widht="650px" height="350px" alt="Placeholder Image">
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
