/* blog-list.component.css */

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.card-body {
  min-height: 200px; /* Set a minimum height for the card body */
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  color: #666;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  box-shadow: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #007bff; /* Change to your preferred focus color */
}
