<!-- task-form.component.html -->

<div class="container mt-5">
    <h2>Edit Task</h2>
    <form>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="task.title" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3" [(ngModel)]="task.description" required></textarea>
      </div>
      <div class="mb-3">
        <label for="dueDate" class="form-label">Due Date</label>
        <input type="date" class="form-control" id="dueDate" name="dueDate" [(ngModel)]="task.dueDate" required>
      </div>
      <button type="submit" class="btn btn-primary me-2" (click) = "saveTask()">Save Task</button>
      <button type="submit" class="btn btn-danger me-2" routerLink="/tasks" >Back to Home</button>
    </form>
  </div>
  