<!-- home.component.html -->

<div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-md-6 offset-md-1">
        <div class="text-center">
          <h1>Welcome to SimpleBlogs!</h1>
          <p class="lead">Discover interesting blogs on various topics.</p>
          <button class="btn btn-primary btn-lg" routerLink="/blogs">Browse Blogs</button>
        </div>
      </div>
      <div class="col-md-5">
        <div class="text-center">
          <img src="https://st3.depositphotos.com/3591429/13269/i/450/depositphotos_132694218-stock-photo-woman-writing-notes-in-diary.jpg" class="img-fluid" alt="SimpleBlogs Image">
        </div>
      </div>
    </div>
  </div>
  