/* product.component.css */

.modal-body {
    padding: 20px;
  }
  
  .modal-title {
    color: #007bff; /* Bootstrap primary color */
  }
  
  .modal-content {
    border-radius: 10px;
  }
  
  .btn-primary {
    background-color: #007bff; /* Bootstrap primary color */
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Darker shade of primary color */
    border-color: #0056b3;
  }
  