<!-- product.component.html -->

<div class="text-center">
    <button type="button" class="btn btn-primary" [attr.data-bs-target]="'#myModal' + product.id" data-bs-toggle="modal">
        View Details
    </button>
</div>

<div class="modal fade" [id]="'myModal' + product.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">{{ product.name }} Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p><strong>Price:</strong> {{ product.price | currency:'USD':'symbol':'1.2-2' }}</p>
                <p><strong>Description:</strong> {{ product.description }}</p>
                <!-- You can add more details about the product here -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="addToCart()" >Add to Cart</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
